In [20]:
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [21]:
token = 'm1dVz__^_^____UGrR'
headers = {"authorization" : "Token {}".format(token)}
deployment_id = '5becb1bc79477106b6804196'

In [22]:
response = requests.get('https://app.datarobot.com/api/v2/modelDeployments/'+deployment_id+'/features/',
    headers=headers)

In [23]:
response

In [24]:
json_normalize(data=response.json()['data'])

   dateFormat  featureType  importance  knownInAdvance         name
0        None      Numeric   -0.003937           False          Age
1        None  Categorical    0.027195           False        Cabin
2        None  Categorical    0.011546           False     Embarked
3        None      Numeric    0.086994           False         Fare
4        None         Text    0.139685           False         Name
5        None      Numeric    0.006772           False        Parch
6        None      Numeric   -0.009865           False  PassengerId
7        None      Numeric    0.091253           False       Pclass
8        None  Categorical    0.216641           False          Sex
9        None      Numeric    0.021092           False        SibSp
10       None      Numeric    1.000000           False     Survived